{% extends 'base.html' %}
{% block body %}
<div class="container col-lg-6 col-12">
    <h1>Sign up</h1>
    <form action="" class="contact-form" method="POST">
        {% csrf_token %}
      <div class="contact-input-container">
        <input type="text" class="input" placeholder="Full Name" name="firstname"/>
      </div>
      <div class="contact-input-container">
        <input type="text" class="input" placeholder="username" name="username"/>
      </div>

      <div class="contact-input-container">
        <input type="email" class="input" placeholder="Email" name="email" />
      </div>
    
      <div class="contact-input-container">
        <input type="text" class="input" placeholder="Age between 18-65" name="age"/ min="19" max="65">
      </div>

      <div class="contact-input-container">
        <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="batch">
            <option selected>select batch</option>
            <option value="1">6-7Am</option>
            <option value="2">7-8Am</option>
            <option value="3">8-9AM</option>
            <option value="4">5-6PM</option>
          </select>
      </div>
      <div class="contact-input-container">
        <input type="text" class="input" placeholder="Address" name="address"/>
      </div>
      <div class="contact-input-container">
        <input type="password" class="input" placeholder="password" name="password" />
      </div>
      <div class="btn-box">
        <input type="submit" class="btn-subscribe" value="Sign Up"></input>
      </div>
      <h3 class="mt-2">already a member ? <a href="/" class="">login</a></h3>
    </form>
  </div>
{% endblock body %}